{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'Blog/css/custom.css' %}">
{% endblock %}

{% block content %}

<title>{{ blog.title }}</title>

<article>

    <h1>{{ blog.title }}</h1>

    <p>
        Ngày đăng: {{ blog.created_at }}
    </p>

    <p>
        Nội dung: {{ blog.content }}
    </p>

</article>


<hr>


<!-- rate -->
<div class="rating">

    <div class="ratings">

        {% for star in star_range %}

            <span
                class="ratings_stars 
                    {% if star <= average_star %}
                    ratings_over
                        {% endif %}"
                data-rate="{{ star }}"
            >
                ★
            </span>

        {% endfor %}

    </div>


    <div>

        Điểm trung bình:

        <span id="average-rate">
            {{ average_rate }}
        </span>

        / 5

    </div>

</div>
<div
    id="comment-data"
    data-authenticated="{{ user.is_authenticated|yesno:'true,false' }}"
    data-comment-url="{% url 'blog_comment' %}"
></div>


<!-- ========================= -->
<!-- FORM COMMENT CHA -->
<!-- ========================= -->

<div class="commenting">

    <form id="comment-form">

        {% csrf_token %}

        <input
            type="hidden"
            id="blog_id"
            value="{{ blog.id }}"
        >

        <textarea
            id="comment"
            placeholder="Viết bình luận..."
        ></textarea>

        <button type="submit">
            Comment
        </button>

    </form>

</div>


<!-- ========================= -->
<!-- DANH SÁCH COMMENT -->
<!-- ========================= -->

<div id="comments-list">

    <ul class="comment-list">

        {% for cmt in comments %}

        <!-- COMMENT CHA -->
        <li
            class="comment-item"
            id="comment-{{ cmt.id }}"
        >

            <div class="comment-parent">

                <div class="comment-user">

                    <img
                        src="{{ cmt.author_image }}"
                        width="50"
                        height="50"
                    >

                    <strong>
                        {{ cmt.author_name }}
                    </strong>

                </div>

                <div class="comment-content">
                    {{ cmt.comment }}
                </div>

                <div class="comment-time">
                    {{ cmt.created|date:"d/m/Y H:i" }}
                </div>

                <button
                    type="button"
                    class="reply-btn"
                    data-id="{{ cmt.id }}"
                >
                    Reply
                </button>

            </div>


            <!-- FORM REPLY SẼ ĐƯỢC JS CHÈN VÀO ĐÂY -->

            <div class="reply-form-container"></div>


            <!-- DANH SÁCH COMMENT CON -->

            <ul class="replies">

                {% for reply in cmt.replies.all %}

                <li
                    class="comment-child"
                    id="comment-{{ reply.id }}"
                >

                    <div class="comment-user">

                        <img
                            src="{{ reply.author_image }}"
                            width="40"
                            height="40"
                        >

                        <strong>
                            {{ reply.author_name }}
                        </strong>

                    </div>

                    <div class="comment-content">
                        {{ reply.comment }}
                    </div>

                    <div class="comment-time">
                        {{ reply.created|date:"d/m/Y H:i" }}
                    </div>

                </li>

                {% endfor %}

            </ul>

        </li>

        {% endfor %}

    </ul>

</div>


<hr>


<div>

    {% if previous_blog %}

        <a href="{% url 'blog_detail' previous_blog.id %}">
            ← Previous
        </a>

    {% endif %}


    {% if next_blog %}

        <a href="{% url 'blog_detail' next_blog.id %}">
            Next →
        </a>

    {% endif %}


    <br>


    <a href="{% url 'blog_list' %}">
        Quay lại blog
    </a>

</div>


{% endblock %}


<!-- rate js -->
{% block rateJs %}

<script>

$(document).ready(function () {


    // hover sao

    $('.ratings_stars').hover(

        function () {

            $(this)
                .prevAll('.ratings_stars')
                .addBack()
                .addClass('ratings_hover');

        },

        function () {

            $('.ratings_stars')
                .removeClass('ratings_hover');

        }

    );


    // click sao
    $('.ratings_stars').click(function () {

        //check login
        const isAuthenticated =
            "{{ user.is_authenticated }}" === "True";


        if (!isAuthenticated) {

            alert(
                "Vui lòng đăng nhập để đánh giá!"
            );

            return;
        }


        // số sao user chọn
        const rate =$(this).data('rate')
        // id blog
        const blogId = "{{ blog.id }}";

        // sao user vừa chọn
        $('.ratings_stars')
            .removeClass('ratings_over');


        $(this)
            .prevAll('.ratings_stars')
            .addBack()
            .addClass('ratings_over');


        // ajax
        $.ajax({

            type: 'POST',

            url: "{% url 'blog_rate' %}",


            data: {

                rate: rate,

                blog_id: blogId,

                csrfmiddlewaretoken:
                    "{{ csrf_token }}"

            },
            // success
            success: function (data) {


                if (data.success) {

                    // update lại điểm tbinh
                    $('#average-rate').text(
                        data.average_rate
                    );


                    // xóa sao cũ
                    $('.ratings_stars')
                        .removeClass(
                            'ratings_over'
                        );

                    // sao theo điểm tbinh mới
                    $('.ratings_stars').each(
                        function () {

                            const starRate =$(this).data('rate')


                            if (
                                starRate <= Math.round(data.average_rate)
                            ) {

                                $(this)
                                    .addClass(
                                        'ratings_over'
                                    );

                            }

                        }
                    );


                    alert(
                        "Cảm ơn bạn đã đánh giá " +
                        rate +
                        " sao!"
                    );


                } else {

                    alert(
                        data.error ||
                        "Có lỗi xảy ra!"
                    );

                }

            },

        });

    });

});

</script>

{% endblock %}
{% block commentJs %}
<script src="{% static 'Blog/js/blog_comment.js' %}"></script>
{% endblock %}