{% extends 'base.html' %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'Users/css/auth/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-wrapper">
    <h2>Login</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {{form.username}}
        </div>
        <div>
            {{form.password}}
        </div>
        {% if form.non_field_errors %}
            {{ form.non_field_errors}}
        {% endif %}
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}