{% load static %}

    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block css %}
    {% endblock %}
    
<footer class="footer">

        <div class="footer-container">

            <div class="footer-about">

                <div class="footer-logo">
                    <span>E</span>-SHOPPER
                </div>

                <p>
                    Lorem ipsum dolor sit amet,<br>
                    consectetur adipisicing elit,sed<br>
                    do eiusmod tempor
                </p>

            </div>

            <div class="footer-blog">

                <!-- Blog 1 -->
                <div class="blog-item">


                    <h4>Circle of Hands</h4>

                    <span>24 DEC 2014</span>

                </div>

                <div class="blog-item">

                    <h4>Circle of Hands</h4>

                    <span>24 DEC 2014</span>

                </div>


                <div class="blog-item">

                    <h4>Circle of Hands</h4>

                    <span>24 DEC 2014</span>

                </div>

                <div class="blog-item">

                    <h4>Circle of Hands</h4>

                    <span>24 DEC 2014</span>

                </div>

            </div>


            <div class="footer-address">

                <div class="map">

                    <p>
                        505 S Atlantic Ave Virginia Beach,<br>
                        VA(Virginia)
                    </p>

                </div>

            </div>

        </div>

    </footer>
