<h2>CATEGORY</h2>

<ul class="category">
    <li><a href="#">SPORTSWEAR</a><b>+</b></li>
    <li><a href="#">MENS</a><b>+</b></li>
    <li><a href="#">WOMENS</a><b>+</b></li>
    <li><a href="#">KIDS</a></li>
    <li><a href="#">FASHION</a></li>
    <li><a href="#">HOUSEHOLDS</a></li>
    <li><a href="#">INTERIORS</a></li>
    <li><a href="#">CLOTHING</a></li>
    <li><a href="#">BAGS</a></li>
    <li><a href="#">SHOES</a></li>
</ul>

<h2>BRANDS</h2>

<ul class="brands">
    <li><a href="#">ACNE</a></li>
    <li><a href="#">GRÜNE ERDE</a></li>
    <li><a href="#">ALBIRO</a></li>
    <li><a href="#">RONHILL</a></li>
    <li><a href="#">ODDMOLLY</a></li>
    <li><a href="#">BOUDESTIJN</a></li>
    <li><a href="#">RÖSCH CREATIVE CULTURE</a></li>
</ul>